.dm-sans-regular {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  .dm-sans-bold {
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }

*{
    box-sizing: border-box; /* pour que les padding et margin ne modifient pas la taille de l'élément */
}

html{
    scroll-behavior: smooth; /* pour un scroll plus fluide */    
}
body {
    font-family: 'DM Sans', sans-serif;
    margin: 0;
    padding: 0;
    margin: 0; /* pour éviter les marges par défaut du navigateur */
    line-height: 1.4; /* hauteur de ligne pour la lecture à l'écran*/
    background-color: var(--background-color);
    scroll-behavior: smooth;
    color: var(--text-color);
}

img{
    max-width: 100%;
    height: auto;
    display: block; /* pour éviter les marges par défaut du navigateur */
}

.no-mobile {
    display: none;
}

@media screen and (min-width: 768px) {
    .no-mobile {
        display: block;
        width: 252px;
        margin: 20px 0;
    }
    .mobile {
        display: none;
    }
}

.h1 p{
    font-size: 50px;
    font-weight: 800;
    margin: 0;
}

.h2 p{
    font-size: 30px;
    font-weight: 700;
    margin: 0;
    margin-bottom: 10px;
}

.h3 p{
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}


figure{ /*image et légende dans même balise*/ 
    margin: 0; /* pour éviter les marges par défaut du navigateur */
}

.header {
    background-color: var(--header-background-color);
    padding:0 24px; 
    height: 120px;/* pour garder le ratio de l'image */
    display: grid; /* pour pouvoir utiliser grid-template-columns */
    grid-template-columns: 98px  auto 98px;
    justify-content: space-between; /* pour espacer les éléments */
    gap:10px;
    align-items: center; /* pour centrer verticalement */
    /* position: sticky;  pour que le header reste en haut de la page */
    top:0; /* pour que le header reste en haut de la page */
    border-radius: 80px;
    margin-left: 10px;
    margin-right: 10px;
}

.header h1{
    margin: 0 3px; /* pour éviter les marges par défaut du navigateur */
    align-self: center;
    justify-self: center;

    /* max-width: 200px;
    min-width: 80px; */
}
  
.header h1:hover{
    animation: bounce 1s; /* pour animer le logo en survole */
  } 

  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {
      transform: translateY(0);
    }
    40% {
      transform: translateY(-30px);
    }
    60% {
      transform: translateY(-15px);
    }
  }
  .header-nav{
    font-family: 'DM Sans', sans-serif;
    display: grid;
    grid-template-columns: 44px 44px;
    height:48px;
    gap:10px;
    grid-template-columns: 1fr 1fr;
    align-self: center;
    justify-self: center;
    align-items: center;
}

@media (min-width: 76px) {
    .header{
        height: 80px;
    }
    .header h1 {
        width: 30%;
    }
    .header-nav{
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

  /* Pour les écrans moyens (tablettes) */
@media (min-width: 768px) {
    .header h1 {
        width: 73%;
    }
    .header{
        height: 120px;
    }
}




  
.header-nav a{
    color:#0460EB;
    text-decoration: none;
    height: auto;
}

.header-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}


.logo {
    justify-self: start;
}
.nav {
    justify-self: end;
}
.nav a {
    margin-left: 1rem;
    text-decoration: none;
    color: #333;
}

.current {
    font-weight: bold;
}

 /* Style du bouton */
 .back-to-top {
    position: fixed;           /* Position fixe pour rester visible lors du scroll */
    bottom: 20px;              /* Distance par rapport au bas de la page */
    right: 20px;               /* Distance par rapport au côté droit de la page */
    padding: 10px 15px;        /* Espace autour du texte */
    font-size: 16px;           /* Taille de la police */
    background-color: var(--backtotop-background); /* Couleur de fond */
    border: none;              /* Pas de bordure */
    border-radius: 20px;        /* Coins arrondis */
    cursor: pointer;           /* Curseur en forme de main */
    display: none;             /* Caché par défaut */
    z-index: 1000;             /* Pour être au-dessus des autres éléments */
    transition: opacity 0.3s;  /* Transition pour l'apparition */
    text-decoration: none;
}

/* Bouton visible au scroll */
.back-to-top.show {
    display: block;
}

/* Effet de survol */
.back-to-top:hover {
    background-color: var(--backtotop-hover-background);
}

.fleche{
    height: auto;
    width: 8%;
}

.indexstage{
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 30px;
    margin-top: 15px;
    margin-left: 30px;
    margin-right: 45px;
    align-items: center;
    justify-items: center;
}

.projets {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px)); /* auto-fit pour que le nombre d'éléments s'adaptent à la largeur du conteneur 
  320px -> 1 élément
  480px -> 2 éléments
  720px -> 3 éléments
  */
    gap: 22px;
    margin-left: 50px;
    margin-right: 55px;
    padding-top: 20px;
    padding-bottom: 60px;
    align-items: center;
    justify-content: center;
    font-family: 'DM Sans', sans-serif;
}

/*@media screen and (min-width: 768px) and (max-width: 1023px) {
    .projets {
        grid-template-columns: repeat(auto-fit, 350px);
    }
}

@media screen and (max-width: 767px) {
    .projets {
        grid-template-columns: repeat(auto-fit, 280px);
    }
} */

.projet{
    text-align: center;
    text-decoration: none; /* remove underline */
    place-self: center;
    justify-content: center;
    border: 8px solid transparent;
    border-radius: 20px;
    place-self: center stretch;
    opacity: 100;
    position: relative;
    justify-self: center;
    overflow: hidden;
    
}

.retour{
    font-family: "DM Sans", sans-serif;
    font-weight: 700;
    text-decoration: none;
    color: var(--text-color);
}

.projet img{
    border-radius: 20px;
    max-width: 100%;
    margin-bottom: -6px;
    width: 100%;
      height: 100%;
      object-fit: cover; /* Maintient la proportion de l'image sans la déformer */
      transition: all 0.3s ease; /* Transition pour l'image */
      transition: transform 0.3s ease;
}

.projet h2{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    opacity: 0;
    color: rgb(229, 224, 255);
    /* transition: background-color 0.3s ease, opacity 0.3s ease; */
  }

.projet:hover{
    border: 12px solid;
    border-color: var(--border-color);
    opacity: 1;
    transition: border 0.2s ease, opacity 1s ease, border-radius 0.2s ease;
        img{
            object-position: center; /* Centrer l'image lors du changement de taille */
            border-radius: 8px;
            filter: brightness(0.8);
        }
    
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    span {
        font-size: 40px;
        font-size: clamp(30px, 5vw, 40px);
        font-weight: 600;
        font-family: 'DM Sans', sans-serif;
        justify-content: center;
        align-content: center;
        line-height: 1;
        color: var(--color-span)
    }
}


.projet:hover .overlay{
    opacity: 1;
    transition: opacity 0.8s ease;
}

.b-img{
    filter: saturate(120%);
}
.texte {
    padding-top: 15px;
    padding-bottom: 15px;
    
}

/* fx javascript */
.projet{
    opacity: 1;
    transition: opacity 0.8s ease;
  }
  .projet.unactive{
    filter:blur(2px);
    z-index: -1;
        img{
            opacity: 1;
        }
  }

.page-a-propos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
    padding: 60px;
    margin-left: 30px;
    margin-right: 45px;
    align-items: center;
    justify-content: center;
}

.page-a-propos h1 {
    font-family: 'DM Sans', sans-serif;
    font-weight: 900;
    font-size: 50px;
}




@keyframes shake{
    0%  { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}



.thumbnail {
    cursor: pointer;
    transition: transform 0.3s ease;
}

.thumbnail:hover {
    transform: scale(1.05);
}

.lightbox {
    display: none; /* Par défaut, le lightbox est caché */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.lightbox img {
    max-width: 80%;
    max-height: 80%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    transition: transform 0.3s ease;
}

.lightbox img:hover {
    transform: scale(0.95);
}

.fr, .en {
    transition: opacity 0.3s ease;
}

.fr-en{
    justify-self: end;
}

button {
    background-color: var(--button-background-color);
    color: var(--lang-button-text);
    border-radius: 20px;
    border: none;
    transition: background-color 0.3s, color 0.3s;
    padding: 10px;
    cursor: pointer;
  }

  .intro-intro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;
    padding: 50px;
  }
  
/*grid-template-columns: repeat(auto-fill, minmax(320px,480px));*/

@media (min-width: 0px) {
    .page-projet-intro{
        padding: 50px;
        display: grid;
        grid-template-columns: 1fr;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .page-projet-intro{
        grid-template-columns: 1fr;
        padding: 50px;
    }
}

@media (min-width: 1024px) {
    .page-projet-intro{
        display: grid;
        grid-template-columns: 2fr 1fr;
        padding: 50px;
        gap: 24px;
    }
}

.page-projet-intro-ischia{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: left;
    h2{
        margin-bottom: 3px;
    }
    h3{
        margin-top: 0px;
    }

}
.intro-video{
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 50px;
    gap: 24px;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .intro-video{
        /*grid-template-columns: repeat(auto-fit, minmax(300px, 350px));*/
        grid-template-columns: 1fr;
    }
}
@media screen and (min-width: 769px) {
    .intro-video{
        grid-template-columns: 1fr;
    }
}

@media screen and (min-width: 1024px) {
    .intro-video{
        grid-template-columns: 2fr 1fr;
    }
}

.intro-video video {
    justify-self: left;
    width: 100%; 
    border-radius: 10px;
}

.introintro{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 15px;
}

.image-waide{
    justify-self: center;
    filter: saturate(110%);
}


.image-coffret{
        img{
            border-radius: 12px;
        }
}
@media (min-width: 0px) and (max-width: 767px) {
    .image-coffret{
        margin-bottom: 24px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .image-coffret{
        margin-bottom: 40px;
    }
}



@media (min-width: 0px) {
    .description-ischia{
        margin-left: 50px;
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1023px) {
    .description-ischia{
        margin-left: 80px;
        margin-top: 15px;
    }
}

@media (min-width: 1024px) {
    .description-ischia{
        margin-left: 105px;
        margin-top: 25px;
    }
}



.page-projet-galerie{
    column-gap: 10px;
    height: auto;
}

.galerie-coffret {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 100px;
    padding-top: 10px;
    max-height: 100%;
    height: auto;
    width: 100%;
    gap: 10px;
}

@media (min-width: 0px) and (max-width: 767px) {
    .galerie-coffret{
        padding: 45px;
        padding-top: 20px;
        grid-template-columns: 1fr 1fr;
    }
    .galerie-coffret img{
        border-radius: 5px;
        grid-column: span 2;
    }
   /* .galerie-coffret img:nth-child(3n+1) {
        grid-column: span 2;
    }  */
}

@media (min-width: 768px) and (max-width: 1023px) {
    .galerie-coffret{
        padding: 75px;
        padding-top: 35px;
    }
    .galerie-coffret img{
        border-radius: 8px;
    }
    .coffret-a{
        grid-column: span 2;
        grid-row: span 2;
    }
}

@media (min-width: 1024px) {
    .galerie-coffret{
    padding: 100px;
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    }
    .galerie-coffret img{
        border-radius: 10px;
    }
    .coffret-a{
        grid-column: span 2;
        grid-row: span 2;
    }
}



.surlign{
    text-decoration: none;
    color: var(--text-color-surlign);
}

.footer{
    display: grid;
    grid-template-columns: 1fr;
        p{
            justify-self: center;
        }
}

/* Palette claire */
:root {
    --background-color: #ffbed7;
    --header-background-color: #ff2600;
    --select-background-color:#ff2600;
    --border-color: #ff2600;
    --color-span: #ffbed7;
    --text-color-surlign: #ff307f;
    --button-background-color: #ff307f;
    --lang-button-text: #ffbed7;
    --background-bouton-theme: #ff307f;
    --texte-bouton-theme: #fff2f7;
    --select-theme-hover-color: #ff2600;
    --backtotop-background: #ff307f;
  }

  /* Palette sombre */
  .yellow-theme {
    --background-color: #f6fba2;
    --header-background-color: #ff64b9; 
    --select-background-color: #a7ff03;
    --border-color: #006aff;
    --text-color: #1a0d12;
    --text-color-surlign: #006aff;
    --color-span: #ff64b9;
    --button-background-color: #ff64b9;
    --lang-button-text: #f6fba2;
    --background-bouton-theme: #006aff;
    --texte-bouton-theme: #f6fba2;
    --select-theme-hover-color: #ff64b9;
    --backtotop-background: #006aff;
    --backtotop-hover-background: #ff64b9;
  }

  .purple-theme{
    --background-color: #8064fc;
    --header-background-color: #00ff6a; 
    --select-background-color: #00ff6a;
    --border-color: #ff83cf;
    --text-color: #fff7ff;
    --text-color-surlign: #ff83cf;
    --color-span: #00ff6a;
    --button-background-color: #00ff6a;
    --lang-button-text: #040025;
    --background-bouton-theme: #00ff6a;
    --texte-bouton-theme: #8064fc;
    --select-theme-hover-color: #ff83cf;
    --backtotop-background: #00ff6a;
    --backtotop-hover-background: #ff83cf;
  }

  .dark-theme{
    --background-color: #040025;
    --header-background-color: #f52fa9; 
    --select-background-color: #a7ff03;
    --border-color: #a7ff03;
    --text-color: #fff7ff;
    --text-color-surlign: #f52fa9;
    --color-span: #a7ff03;
    --button-background-color: #a7ff03;
    --lang-button-text: #040025;
    --background-bouton-theme: #a7ff03;
    --texte-bouton-theme: #040025;
    --select-theme-hover-color: #f52fa9;
    --backtotop-background: #a7ff03;
    --backtotop-hover-background: #f52fa9;
  }



  .bouton-theme{
    position: sticky; /* pour que le header reste en bas de la page */
    bottom: 40px; /* pour que le header reste en bas de la page */
    margin: 24px;
    z-index: 1000;
    bottom: 20px;
    color: var(--texte-bouton-theme);
    background-color: var(--background-bouton-theme);
  }

  



   /* Style du menu déroulant */
    select {
      font-family: 'DM Sans', sans-serif;
      font-weight: 700;
      padding: 10px 12px;
      font-size: 16px;
      margin-top: 20px;
      background-color: var(--select-theme-background-color);
      border: none;
      cursor: pointer;
      border-radius: 20px;
      transition: background-color 0.3s;
    }

    select:hover {
      background-color: var(--select-theme-hover-color);
    }